<a href="https://colab.research.google.com/github/nrameshmusale/empty-employee-DB-project/blob/main/Empty_Employee_DB_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SF Salaries Exercise

# **Load Necessary libraries**

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# ** Read Salaries.csv as a dataframe called sal.**

In [ ]:
sal=pd.read_csv('Salaries.csv')

# ** Check the head of the DataFrame. **

In [ ]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [ ]:
# Check nan values
sal.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                609
OvertimePay              4
OtherPay                 4
Benefits             36163
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              148654
dtype: int64

In [ ]:
#total reords , rows and columns
print('Total no of Rows:',sal.shape[0])
print('Total no of Columns:',sal.shape[1])

Total no of Rows: 148654
Total no of Columns: 13

In [ ]:
#check feature names

In [ ]:
sal.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [ ]:
#drop Notes and Status columns

In [ ]:
sal = sal.drop(['Notes', 'Status'], axis=1)

In [ ]:
#check new shape

In [ ]:
sal.shape

(148654, 11)

In [ ]:
#check columns

In [ ]:
sal.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Agency'],
      dtype='object')

In [ ]:
#fill BasePay NaN by using some technique

In [ ]:
sal.BasePay.isna().sum()

np.int64(609)

In [ ]:
sal[:1]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,San Francisco

In [ ]:
#sal.BasePay.mean()---> 66325
sal.BasePay.fillna(66325,inplace=True)

<ipython-input-22-fc210e85aec8>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sal.BasePay.fillna(66325,inplace=True)

# **What is the average BasePay ?**

In [ ]:
#sal.BasePay.mean()
round(sal.BasePay.mean())

66325

In [ ]:
sal.['BasePay].Mean()).round()

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-30-8c99c42e505a>, line 1)

# ** What is the highest amount of OvertimePay in the dataset ? **

In [ ]:
sal.OvertimePay.max()

245131.88

## Fetch record of Highest paid employee

In [ ]:
sal.query('TotalPay==TotalPay.max()')

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,San Francisco

## Fetch name of highest Overtime pay employee

In [ ]:
sal.query('OvertimePay==OvertimePay.max()')['EmployeeName']

1    GARY JIMENEZ
Name: EmployeeName, dtype: object

# ** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [ ]:
sal.query('EmployeeName=="JOSEPH DRISCOLL"')['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

#fetch entries of all joseph driscoll

In [ ]:
sal[sal['EmployeeName'].str.contains("JOSEPH DRISCOLL", case=False)]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,San Francisco
36198,36199,Joseph Driscoll,"Captain, Fire Suppression",145658.98,114513.29,28743.36,42919.16,288915.63,331834.79,2012,San Francisco

# ** How much does JOSEPH DRISCOLL make (including benefits)? **

In [ ]:
sal.query('EmployeeName=="JOSEPH DRISCOLL"')['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

# ** What is the name, Job title of highest paid person (including benefits)?**

In [ ]:
sal.query('TotalPayBenefits==TotalPayBenefits.max()')[['EmployeeName','JobTitle']]

     EmployeeName                                        JobTitle
0  NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY

# ** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [ ]:
sal.query('TotalPayBenefits==TotalPayBenefits.min()')[['EmployeeName','JobTitle']]

       EmployeeName                    JobTitle
148653    Joe Lopez  Counselor, Log Cabin Ranch

## Show me the records with totalpaybenefit less than or equal to 0

In [ ]:
sal.query('TotalPayBenefits<=0')

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency
36156,36157,PAULETTE ADAMS,"STATIONARY ENGINEER, WATER TREATMENT PLANT",0.0,0.0,0.00,NaN,0.00,0.00,2011,San Francisco
36157,36158,KAUKAB MOHSIN,TRANSIT OPERATOR,0.0,0.0,0.00,NaN,0.00,0.00,2011,San Francisco
36158,36159,JOSEPHINE MCCREARY,MANAGER IV,0.0,0.0,0.00,NaN,0.00,0.00,2011,San Francisco
110528,110529,Timothy E Gibson,Police Officer 3,66325.0,0.0,0.00,-2.73,0.00,-2.73,2013,San Francisco
110529,110530,Mark E Laherty,Police Officer 3,66325.0,0.0,0.00,-8.20,0.00,-8.20,2013,San Francisco
110530,110531,David P Kucia,Police Officer 3,66325.0,0.0,0.00,-33.89,0.00,-33.89,2013,San Francisco
148626,148627,Paulet Gaines,Account Clerk,0.0,0.0,0.00,0.00,0.00,0.00,2014,San Francisco
148627,148628,Brett A Lundberg,General Laborer,0.0,0.0,0.00,0.00,0.00,0.00,2014,San Francisco
148628,148629,Mark W Mcclure,General Laborer,0.0,0.0,0.00,0.00,0.00,0.00,2014,San Francisco
148629,148630,Elizabeth Iniguez,Transcriber Typist,0.0,0.0,0.00,0.00,0.00,0.00,2014,San Francisco
148630,148631,Randy J Keys,Carpenter,0.0,0.0,0.00,0.00,0.00,0.00,2014,San Francisco
148631,148632,Andre M Johnson,Communications Dispatcher 1,0.0,0.0,0.00,0.00,0.00,0.00,2014,San Francisco
148632,148633,Sharon D Owens-Webster,Protective Services Worker,0.0,0.0,0.00,0.00,0.00,0.00,2014,San Francisco
148633,148634,Edward Ferdinand,General Laborer,0.0,0.0,0.00,0.00,0.00,0.00,2014,San Francisco
148634,148635,David M Turner,Transit Car Cleaner,0.0,0.0,0.00,0.00,0.00,0.00,2014,San Francisco
148635,148636,James S Kibblewhite,General Laborer,0.0,0.0,0.00,0.00,0.00,0.00,2014,San Francisco
148636,148637,Andrew J Enzi,Arborist Technician,0.0,0.0,0.00,0.00,0.00,0.00,2014,San Francisco
148637,148638,Kadeshra D Green,Transit Fare Inspector,0.0,0.0,0.00,0.00,0.00,0.00,2014,San Francisco
148638,148639,Lennard B Hutchinson,Electrician,0.0,0.0,0.00,0.00,0.00,0.00,2014,San Francisco
148639,148640,Richard A Talbert,Custodian,0.0,0.0,0.00,0.00,0.00,0.00,2014,San Francisco
148640,148641,Charlene D Mccully,Parking Control Officer,0.0,0.0,0.00,0.00,0.00,0.00,2014,San Francisco
148641,148642,Raphael Marquis Goins,Museum Guard,0.0,0.0,0.00,0.00,0.00,0.00,2014,San Francisco
148642,148643,Dominic C Marquez,Sign Worker,0.0,0.0,0.00,0.00,0.00,0.00,2014,San Francisco
148643,148644,Kim Brewer,Parking Control Officer,0.0,0.0,0.00,0.00,0.00,0.00,2014,San Francisco
148644,148645,Randy D Winn,"Stationary Eng, Sewage Plant",0.0,0.0,0.00,0.00,0.00,0.00,2014,San Francisco
148645,148646,Carolyn A Wilson,Human Services Technician,0.0,0.0,0.00,0.00,0.00,0.00,2014,San Francisco
148646,148647,Not provided,Not provided,66325.0,NaN,NaN,NaN,0.00,0.00,2014,San Francisco
148647,148648,Joann Anderson,Communications Dispatcher 2,0.0,0.0,0.00,0.00,0.00,0.00,2014,San Francisco
148648,148649,Leon Walker,Custodian,0.0,0.0,0.00,0.00,0.00,0.00,2014,San Francisco
148649,148650,Roy I Tillery,Custodian,0.0,0.0,0.00,0.00,0.00,0.00,2014,San Francisco
148650,148651,Not provided,Not provided,66325.0,NaN,NaN,NaN,0.00,0.00,2014,San Francisco
148651,148652,Not provided,Not provided,66325.0,NaN,NaN,NaN,0.00,0.00,2014,San Francisco
148652,148653,Not provided,Not provided,66325.0,NaN,NaN,NaN,0.00,0.00,2014,San Francisco
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.00,-618.13,-618.13,2014,San Francisco

# ** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [ ]:
# Yearwise Average BasePay

In [ ]:
sal.query('Year==2011')['BasePay'].mean()

np.float64(63595.95651677314)

# ** How many unique job titles are there? **

In [ ]:
sal.JobTitle.nunique()

2159

# ** What are the top 5 most common jobs? **

In [ ]:
sal.JobTitle.value_counts().head()

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

In [ ]:
# last five

In [ ]:
sal.JobTitle.value_counts().tail()

JobTitle
Light Rail Vehicle Equip Eng          1
Civil Case Settlmnt Specialist        1
ADMINISTRATOR, SFGH MEDICAL CENTER    1
CHIEF OF POLICE                       1
Special Assistant 8                   1
Name: count, dtype: int64

# How many are there those work as a POLICE OFFICER III

In [ ]:
sal.query('JobTitle=="POLICE OFFICER III"').shape[0]

779

# In which department we have least employees?

In [ ]:
sal.Department.value_counts().tail(1)

AttributeError: 'DataFrame' object has no attribute 'Department'

# Fetch record of year 2011 where Basepay 200000

In [ ]:
sal.query('Year==2011 & BasePay==200000')

Empty DataFrame
Columns: [Id, EmployeeName, JobTitle, BasePay, OvertimePay, OtherPay, Benefits, TotalPay, TotalPayBenefits, Year, Agency]
Index: []

# How much average basepay is given to employees inthe year 2013

In [ ]:
sal.query('Year==2013').BasePay.mean()

np.float64(69576.859358613)

# Plot.the % distribustion of Yearwise TotalPay

In [ ]:
sal=sal.query('Year>=2011 & Year<=2014')

# How many employees getting 0 overtimePay?

In [ ]:
sal.query('OvertimePay==0').shape[0]

77321

## Load data from Github